# ===== FastAPI =====
APP_NAME=demo-fastapi-celery
API_HOST=0.0.0.0
API_PORT=8000

# ===== Redis (外部服务器) =====
# 例子：redis://:密码@10.0.0.10:6379/0
REDIS_URL=redis://:your_redis_password@REDIS_HOST:6379/0

# ===== Celery =====
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=${REDIS_URL}

# ===== PostgreSQL (外部服务器) =====
# 例子：postgresql://user:pass@10.0.0.20:5432/mydb
POSTGRES_DSN=postgresql://your_user:your_pass@PG_HOST:5432/your_db
